djangorestframework
django-browser-reload
django-cleanup
drf-spectacular
drf-spectacular[sidecar]
pywatchman
pydub-ng
pyaudio
openai-whisper
python-Levenshtein
librosa
biopython
numpy
biopython
phonemizer
